@namespace PassXYZ.BlazorUI

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                @if (ParentLink != null)
                {
                    <a class="btn btn-outline-dark" href="@ParentLink">
                        <span class="oi oi-chevron-left" aria-hidden="true"></span>
                    </a>
                }
                @(" " + Title)
                <button type="button" class="btn btn-outline-dark float-end"
                        data-bs-toggle="modal" data-bs-target="#@DialogId"
                        @onclick="OnClickClose">
                    <span class="oi oi-plus" aria-hidden="true"></span>
                </button>
            </h1>
        </div>
    </div>
</div>
