@using System.Diagnostics
@using PassXYZ.Vault.Services
@using PassXYZ.Vault.ViewModels
@inject LoginViewModel viewModel

<div>
    <main class="form-signin">
        <form>
            <img class="mb-4" src="https://raw.githubusercontent.com/shugaoye/PassXYZ.Vault2/chapter06/PassXYZ.Vault/Resources/Images/passxyz_logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <label for="floatingInput">Username</label>
                <input type="text" @bind="@currentUser.Username" class="form-control" id="floatingInput" placeholder="Username">
            </div>
            <div class="form-floating">
                <label for="floatingPassword">Password</label>
                <input type="password" @bind="@currentUser.Password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" @onclick="OnLogin">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</div>

@code {
    private LoginUser currentUser { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (currentUser == null)
        {
            currentUser = viewModel.CurrentUser;
        }
    }

    private void OnLogin(MouseEventArgs e)
    {
        Debug.WriteLine($"username={currentUser.Username}, password={currentUser.Password}");
        viewModel.OnLoginClicked();
    }
}
