@using System.Diagnostics
@using KPCLib

<ModalDialog Id=@Id Title="Please confirm" OnSaveAsync=@OnSave
    SaveButtonText="Save" CloseButtonText="Close">
    Do you want to delete @TestField.Key?
</ModalDialog>

<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#@Id">Please confirm</button>

@code {
    [Parameter]
    public string Id { get; set; } = "confirmDialog";
    [Parameter]
    public Field TestField { get; set; }

    public ConfirmDialog()
    {
        TestField = new("","",false);
        Id = "ConfirmDialog";
    }

    async Task<bool> OnSave() 
    {
        Debug.WriteLine("ConfirmDialog.OnSave");
        return true;
    }
}