@using System.Diagnostics
@using KPCLib

<EditorDialog IsKeyEditingEnable=@IsNewField Key=@TestField.Key Value=@TestField.Value
              OnSave=@OnSaveClicked>
    @if (IsNewField)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="TestField.IsProtected" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Password
            </label>
        </div>
    }
</EditorDialog>

<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#@id">New field</button>

@code {
    string id = "NewFieldDialog";
    [Parameter]
    public bool IsNewField { get; set; } = false;
    [Parameter]
    public string NewKey { get; set; } = "User";
    [Parameter]
    public Field TestField { get; set; }

    public FieldNew()
    {
        TestField = new("", "", false);
    }

    void OnSaveClicked(string key, string value)
    {
        TestField.Key = key;
        TestField.Value = value;

        Debug.WriteLine($"FieldNew: OnSaveClicked(key={TestField.Key}, value={TestField.Value}, type={TestField.IsProtected})");
    }
}
