name: PassXYZ.Vault CI Build (Windows)

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry
  DOTNETVERSION: 6.0.400
  PROJECT_NAME: PassXYZ.Vault

jobs:
# MAUI Android Build
  build-android:
    runs-on: windows-2022
    name: Android Build
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Restore Dependencies
        run: dotnet restore ${{env.PROJECT_NAME}}/${{env.PROJECT_NAME}}.csproj

      - name: Build MAUI Android
        run: dotnet publish ${{env.PROJECT_NAME}}/${{env.PROJECT_NAME}}.csproj -c Release -f net6.0-android --no-restore

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v3
        with:
          name: passxyz-android-ci-build
          path: ${{env.PROJECT_NAME}}/bin/Release/net6.0-android/*Signed.a*

# MAUI Windows Build
  build-windows:
    runs-on: windows-2022
    name: Windows Build
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Restore Dependencies
        run: dotnet restore ${{env.PROJECT_NAME}}/${{env.PROJECT_NAME}}.csproj

      - name: Build MAUI Windows
        run: dotnet publish ${{env.PROJECT_NAME}}/${{env.PROJECT_NAME}}.csproj -c Release -f net6.0-windows10.0.19041.0 --no-restore

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        with:
          name: passxyz-windows-ci-build
          path: ${{env.PROJECT_NAME}}/bin/Release/net6.0-windows10.0.19041.0/win10-x64/AppPackages/${{env.PROJECT_NAME}}*/${{env.PROJECT_NAME}}*.msix

